:root {
	--dark-bg: #0b132b;
	--light-bg: #1c2541;
	--bright-purple: #9683ec;
	--turq: #75bee0;
}

@font-face {
	font-family: inter18;
	src: url(../fonts/Inter_18pt-Medium.ttf);
}

body {
	margin: 0;
	background-color: var(--dark-bg);
	font-family: inter18;
	color: var(--turq);
}

ol, ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a:link, a:visited {
	text-decoration: none;
}

.pad4 {
	padding: 4px;
}

.padtb4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.pad12 {
	padding: 12px;
}

.padtb12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.x4 {
	font-size: 4em;
}

.column {
	float: left;
}

.rfont1p2 {
	font-size: 1.2vw;
}

.rfont1p5 {
	font-size: 1.5vw;
}

.rfont4 {
	font-size: 4vw;
}


/*Side Bar*/

#info {
	background-color: var(--light-bg);
	width: 30%;
	height: 100%;
	min-height: 100vh;
	display: grid;
	place-items: start;
}

#info-container {
	padding: 10%;
	width: 80%;
}

#avatar {
	border-radius: 20px;
	border: 4px solid var(--bright-purple);
	object-fit: contain;
	width: 100%;
}

#name-social-container {
	color: var(--turq);
	display: grid;
	place-items: center;
	align-items: center;
	text-align: center;
}

#social-container {
	padding-top: 24px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
}

.social-icon {
	color: var(--bright-purple);
	padding-left: 12px;
	padding-right: 12px;
}


/*Main Sections*/

#sections {
	width: 70%;
	height: 100%;
	min-height: 100vh;
	display: grid;
	place-items: start;
}

#sections-container{
	padding: 10%;
	padding-right: 20%;
	width: 70%;
	height: 50%;
	grid-template-rows: repeat(5, 1fr);
}

.section-break {
	background-color: var(--bright-purple);
	align-self: start;
	margin: 0;
	border: 0;
	height: 2px;
	width: 100%;
}

.section {
	display: grid;
	/*grid-template-columns: 50px 1fr;*/
	grid-template-columns: 10% 90%;
	place-items: start;
	align-items: center;
}

.section-icon {
	color: var(--turq);
}

.section-header {
	display: block;
	color: var(--bright-purple);
	font-size: 2vw;
	/*height: 100%;*/
	width: 98%;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2%;
}

.section-header:hover {
	background-color: var(--bright-purple);
	color: var(--dark-bg);
}

.section-name {
	margin-top: 20px;
	margin-bottom: 20px;
}
