:root {
	--dark-bg: #0b132b;
	--light-bg: #1c2541;
	--bright-purple: #787cfe;
	--turq: #34a8c5;
	--breakpoint: 700px;
	--top-pad: 5vh;
}

@font-face {
	font-family: inter18;
	src: url(../fonts/Inter_18pt-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--dark-bg);
	font-family: inter18;
	color: var(--bright-purple);
}

h1 {
	text-align: center;
}


.pad4 {
	padding: 4px;
}

.padtb4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.pad12 {
	padding: 12px;
}

.padtb12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.x4 {
	font-size: 4em;
}

.column {
	float: left;
}

.rfont1p2 {
	font-size: 1.2vw;
}

.rfont1p5 {
	font-size: 1.5vw;
}

.rfont2p5 {
	font-size: 2.5vw;
}

.rfont4 {
	font-size: 4vw;
}


#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: 1fr 1fr 2fr;*/
}


/*Side Bar*/

#info-container {
	background-color: var(--light-bg);
	/*width: 40%;*/
	height: 100%;
	min-height: 100vh;
	display: grid;
	justify-items: center;
}

#info {
	padding: 5%;
	padding-top: var(--top-pad);
	width: 95%;
}

#avatar {
	border-radius: 20px;
	border: 4px solid var(--bright-purple);
	object-fit: contain;
	width: 100%;
}

#name-social-container {
	color: var(--turq);
	display: grid;
	place-items: center;
	align-items: center;
	text-align: center;
}

#social-container {
	padding-top: 24px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
}

.social-icon {
	color: var(--bright-purple);
	padding-left: 12px;
	padding-right: 12px;
}



#skills-container {
	border-right: solid 2px var(--light-bg);
	padding-left: 1.5cqw;
	padding-right: 1.5cqw;
}

.skill-block {
	padding: 1cqw;
	justify-self: center;
	text-align: center;
	background: var(--bright-purple);
	color: var(--dark-bg);
	border-radius: 30px;
	margin: 0.8cqw;
	width: 95%;
}

.skill-bubble-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	padding: 0.2cqw;
	margin-bottom: 10%;
	/*border-radius: 40px;*/
	border: dashed 2px var(--bright-purple);
}

.skill-bubble {
	padding: 0.8cqw;
	margin: 0.4cqw;
	text-align: center;
	background: var(--turq);
	color: var(--dark-bg);
	border-radius: 30px;
	min-width: 50px;
}

#languages {
	margin-top: var(--top-pad);
}


.timeline-container {
	/*max-width: 650px;*/
	/*margin: 50px auto;*/
}

.timeline {
	position: relative;
	/*padding-left: 4rem;*/
	padding: 2cqw;
	padding-top: var(--top-pad);
	/*margin: 0 0 0 30px;*/
	color: var(--dark-bg);

	&:before {
		content: '';
		position: absolute;
		/*left: 7cqw;*/
		left: 3cqw;
		top: 0;
		margin-top: calc(var(--top-pad) + 5px);
		width: 4px;
		height: calc(100% - var(--top-pad));
		background: var(--bright-purple);
	}

	.timeline-item {
		position: relative;
		margin-bottom: 1rem;

		.timeline-marker {
			position: absolute;
			/*left: -100px;*/
			/*left: 2cqw;*/
			/*top: 4px;*/
			/*width: 150px;*/
			width: 10cqw;
			border-radius: 20px;
			text-align: center;
			padding: 10px;
			/*font-size: 2rem;*/
			background: var(--bright-purple);
			/*box-shadow: 0 0 5px var(--turq);*/
			border: solid 2px var(--light-bg);
		}

		.timeline-break {
			content: '';
			position: relative;
			height: 4rem;
			width: 100%;
		}

		.timeline-body {
			background: var(--turq);
			border-radius: 10px;
			position: relative;
			/*left: 7cqw;*/
			/*margin-left: 7cqw;*/
			margin-left: 3cqw;
			/*top: 3.5rem;*/
			border: solid 2px var(--light-bg);
			padding: 20px 20px 15px;
			box-shadow: 1px 3px 9px rgba(0,0,0,.1);
			max-width: 88cqw;
			/*margin-right: 10%;*/
			justify-items: center;

			&:before {
				content: '';
				background: inherit;
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				left: -10px;
				transform: rotate(45deg);
				border-radius: 0 0 0 2px;
			}

			.timeline-title {
				margin-bottom: 1.4rem;
				background: var(--bright-purple);
				padding: 10px;
				border-radius: 3px;
				border: solid 2px var(--dark-bg);
				text-align: center;
				/*font-size: 1.5rem;*/
				font-size: 1.5vw;
				box-shadow: 0 0 5px var(--dark-bg);
				justify-self: center;
			}

			.timeline-text {
				text-align: center;
			}
		}
	}
}
