:root {
	--dark-bg: #0b132b;
	--light-bg: #1c2541;
	--primary-color: #1c2541;
	--second-color: #ACC7B4;
	--breakpoint: 700px;
	--top-pad: 5vh;
	--font-xxl: 4vh;
	--font-xl: 1.5vw;
	--font-l: 1.1vw;
	--font-m: 1vw;
}

@font-face {
	font-family: inter18;
	src: url(../fonts/Inter_18pt-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--dark-bg);
	font-family: inter18;
	color: var(--primary-color);
}

h1 {
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.pad4 {
	padding: 4px;
}

.padtb4 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.pad12 {
	padding: 12px;
}

.padtb12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.x4 {
	font-size: 4em;
}

.column {
	float: left;
}

.font-l {
	font-size: var(--font-l);
}

.font-xl {
	font-size: var(--font-xl);
}

.font-xxl {
	font-size: var(--font-xxl);
}


#summary-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


/*Side Bar*/

#info-container {
	display: grid;
	background-color: var(--light-bg);
	height: 100%;
	min-height: 100%;
	justify-items: center;
}

#info {
	width: 95%;
	padding: 5%;
	padding-top: var(--top-pad);
}

#avatar {
	width: 100%;
	border-radius: 20px;
	border: 4px solid var(--second-color);
	object-fit: contain;
}

#name-social-container {
	display: grid;
	color: var(--second-color);
	place-items: center;
	text-align: center;
}

#social-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 24px;
	padding-bottom: 12px;
	place-items: center;
}

.social-icon {
	color: var(--second-color);
	padding-left: 12px;
	padding-right: 12px;
}



#skills-container {
	border-right: solid 2px var(--light-bg);
	padding-left: 1.5cqw;
	padding-right: 1.5cqw;
}

.skill-block {
	padding: 0.8cqw 0;
	justify-self: center;
	text-align: center;
	background: var(--primary-color);
	color: var(--second-color);
	border-radius: 3px;
	margin: 0.8cqw 0;
	width: 100%;
	font-size: var(--font-l);
}

.skill-bubble-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	padding: 2cqh 0.2cqw;
	margin-bottom: 10%;
	width: 100%;
	border: dashed 2px var(--primary-color);
}

.skill-bubble {
	padding: 0.8cqw;
	margin: 0.4cqw;
	text-align: center;
	background: var(--second-color);
	color: var(--dark-bg);
	font-size: var(--font-m);
	border-radius: 10px;
	min-width: 50px;
}

#languages {
	margin-top: var(--top-pad);
}


#timeline-container {}

#timeline {
	position: relative;
	padding: 2cqw;
	padding-top: var(--top-pad);
	color: var(--dark-bg);

	&:before {
		content: '';
		position: absolute;
		left: 3cqw;
		top: calc(var(--top-pad) + 2px);
		/*margin-top: calc(var(--top-pad));*/
		width: 4px;
		height: calc(100% - var(--top-pad) - 5px);
		background: var(--primary-color);
	}

	.timeline-item {
		position: relative;
		margin-bottom: 1rem;

		.timeline-marker {
			position: absolute;
			width: 8cqw;
			border-radius: 20px;
			text-align: center;
			padding: 7px;
			background: var(--primary-color);
			color: var(--second-color);
			border: solid 2px var(--light-bg);
			font-size: var(--font-l);
		}

		.timeline-break {
			content: '';
			position: relative;
			height: 6vh;
			width: 100%;
		}

		.timeline-body {
			background: var(--second-color);
			border-radius: 10px;
			position: relative;
			margin-left: 3cqw;
			margin-bottom: 4vh;
			border: solid 2px var(--light-bg);
			padding: 20px 20px 15px;
			box-shadow: 1px 3px 9px rgba(0,0,0,.1);
			max-width: 88cqw;
			justify-items: center;

			&:before {
				content: '';
				background: inherit;
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				left: -10px;
				transform: rotate(45deg);
				border-radius: 0 0 0 2px;
			}

			.timeline-title {
				margin-bottom: 2vh;
				background: var(--primary-color);
				padding: 10px;
				border-radius: 3px;
				border: solid 2px var(--dark-bg);
				text-align: center;
				font-size: var(--font-l);
				box-shadow: 0 0 5px var(--dark-bg);
				color: var(--second-color);
			}

			.timeline-text {
				text-align: center;
				font-size: var(--font-m);
			}
		}
	}
}

#experience-container {
	margin: 1%;
	padding: 1%;
}

#experience-title {
	margin: 1%;
	padding: 2%;
	font-size: var(--font-xxl);
	border: dashed 2px var(--second-color);
	color: var(--second-color);
}

.experience-item {
	padding: 1% 4% 1% 4%;
}

.experience-item-title {
	display: flex;
	align-items: center;
	background: var(--second-color);
	color: var(--dark-bg);
	padding: 2%;
	font-size: var(--font-xl);
	border: solid 2px var(--primary-color);
	border-radius: 30px;
}

.experience-item-title-icon {
	margin: 0 2% 0 2%;
	color: var(--primary-color);
}

.experience-item-title-text {
	margin: 1% 2%;
	color: var(--primary-color);
	align-self: center;
}

.experience-list-item-icon {
	margin: 0 2% 0 2%;
	color: var(--second-color);
}

.experience-list-item-text {
	margin: 1% 2%;
	color: var(--second-color);
}

.experience-block {
	padding: 1% 2% 1% 2%;
	font-size: var(--font-xl);
}

.experience-block-title {
	display: flex;
	align-items: center;
}

.experience-block-text {
	padding: 1% 2% 1% 10%;
	font-size: var(--font-l);
}
